.search-container{
    line-height: 60px;
    background-color: black;
    color: white;
}

.search-container input{
    width: 60%;
    font-size: 18px;
    margin-right: 20px;
}
.shop-container{
    display: flex;
}
.shop{
    width: 70%;
    margin-left: 10%;
    border-right: 1px solid lightgray;
}
.cart{
    width: 20%;
}